<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.user.mapper.RoleMapper">
    <insert id="addRoles">
        INSERT INTO roles_user(rid, uid) VALUES
        <foreach collection="roles" item="role" separator=",">
            (#{role}, #{uid})
        </foreach>
    </insert>

    <select id="getRolesByUid" resultType="org.sang.user.entity.Role">
        SELECT r.* FROM roles r, roles_user ru WHERE r.`id` = ru.`rid` AND ru.`uid` = #{uid}
    </select>

    <select id="getAllRole" resultType="org.sang.user.entity.Role">
        SELECT * FROM roles ORDER BY id
    </select>
</mapper>
